@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Geostar";
  src: url("/fonts/GeostarFill-Regular.ttf");
}

@font-face {
  font-family: "Display";
  src: url("/fonts/DMSerifDisplay-Regular.ttf");
}
@font-face {
  font-family: "Yellowtail";
  src: url("/fonts/Yellowtail-Regular.ttf");
}

:root {
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
